/* 데스크탑 헤더 */
.buttonBurger {
  display: none;
}
.main-menu {
  width: 78.5%;
  max-width: 980px;
  float: left;
}
.header__logo {
  background-color: #252525;
  border-bottom: 3px solid #fff;
  display: inline-block;
  height: 80px;
}
.header__logo a {
  display: inline-block;
  width: 75px;
}
.logo-desktop__img {
  text-align: center;
  display: block;
}
.logo-mobile__img {
  display: none;
}
.main-menu__link {
  display: inline-block;
}
.main-menu__item {
  float: left;
}
.main-menu__item > a {
  padding: 0 15px;
  line-height: 80px;
}
.side-menu__item {
  line-height: 80px;
}
[class$="__link"] {
  vertical-align: top;
}
.side-menu__buy {
  padding: 20px;
  color: #fff;
}
/* 데스크탑 메인 배너 */
.banner {
 position: relative;
}
.banner__heading, .banner__explain, .banner__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 50%;
}
.banner__btn {
  top: 70%;
}
/* 데스크탑 메인 르포 */
.repo {
  width: 50%;
  float: right;
}
.repo__heading {
  margin: 25% 0 60px 0;
}
/* 데스크탑 메인 패치 요약 */
.patche-summary {
  width: 50%;
  float: left;
  border-right: 5px solid #fff;
}
.patche__heading {
  margin: 25% 0 0 0;
}
.summary__btn {
  margin-top: 50px;
}
/* 데스크탑 상세 패치 노트 (console, pc)*/


.console-patch {
  max-width: 600px;
  height: auto;
}
.pc-patch {
  max-width: 600px;
  height: auto;
}
